<?php

/**
 * Completer les informations selon votre configuration
 */
const DB_HOST = 'localhost';
const DB_PORT = '8888';
const DB_NAME = 'caro_bibliotheque';
const DB_USER = 'root';
const DB_PWD  = 'root';